<header>
  <ul class="nav nav-pills">
    <li class="presentation">
      <a class="nav-link" href="#">Rezeptbuch</a>
    </li>
    <li class="presentation">
      <a class="nav-link" href="#">Einkaufsliste</a>
    </li>
    <li>
      <div class="dropdown" appDropdown>
        <button
          class="btn btn-primary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown button
        </button>
        <ul class="dropdown-menu" appDropdown>
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </li>
  </ul>
</header>
<hr />
