<header>
  <ul class="nav nav-pills">
    <li class="presentation">
      <a class="nav-link" href="#">Rezeptbuch</a>
    </li>
    <li class="presentation">
      <a class="nav-link" href="#">Einkaufsliste</a>
    </li>
    <li>
      <div class="btn-group" appDropdown>
        <a
          class="btn btn-primary dropdown-toggle"
          href="#"
          role="button"
          aria-expanded="false"
        >
          Dropdown link
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">To shopping list</a></li>
          <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
          <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
        </ul>
      </div>
    </li>
  </ul>
</header>
<hr />
