<header>
  <ul class="nav nav-pills">
    <li class="presentation">
      <a class="nav-link" href="#">Rezeptbuch</a>
    </li>
    <li class="presentation">
      <a class="nav-link" href="#">Einkaufsliste</a>
    </li>
    <li>
      <div class="dropdown" appDropdown>
        <button
          id="dLabel"
          type="button"
          aria-haspopup="true"
          aria-expanded="false"
          class="btn btn-primary dropdown-toggle"
        >
          Dropdown trigger
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel" appDropdown>
          <li><a class="dropdown-item" href="#">Speichern</a></li>
          <li><a class="dropdown-item" href="#">Laden</a></li>
        </ul>
      </div>
    </li>
  </ul>
</header>
<hr />
